sipyco @ git+https://github.com/m-labs/sipyco.git
artiq @ git+https://github.com/m-labs/artiq.git
dax @ git+https://gitlab.com/duke-artiq/dax@master
trap-dac-utils @ git+https://gitlab.com/duke-artiq/trap-dac-utils@master
dax-program-sim @ git+https://gitlab.com/duke-artiq/dax-program-sim@master
python-dateutil
h5py
h5-artiq @ git+https://gitlab.com/duke-artiq/h5-artiq@master
Jinja2>=2.11.3
numpy>=1.22.4
paramiko
qiskit==0.36.2
toml>=0.10.2
-e ./
